<div class="site-header">
  <div class="site-title">
    <a href="<%= url_for('/') %>"><%= config.title %></a>
  </div>
  <nav class="site-nav">
    <% for (let i in theme.menu) { %>
      <a href="<%= url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
  </nav>
</div>